@keyframes horizontalGridMove {
  from {margin-left: 0px}
  to {margin-left: -20000px}
}

@keyframes horizontalShipMove {
  from {margin-left: 0px}
  to {margin-left: 20000px}
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes shipsMovin1 {
  0% {margin-top: 100px}
  35% {margin-top: 45px}
  55% {margin-top: 25px}
  78% {margin-top: 102px}
  100% {margin-top: 100px}
}

@keyframes shipsMovin2 {
  0% {margin-right: 280px}
  21% {margin-right: 3120px}
  44% {margin-right: 345px}
  90% {margin-right: 500px}
  100% {margin-right: 280px}
}

@keyframes moonMovin {
  0% {margin-top: 120px}
  31% {margin-top: 4px}
  69% {margin-top: -65px}
  100% {margin-top: 120px}
}

html, body {
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  color: #f9f1f1;
  font-family: 'Indie Flower', cursive;
}

html {
  background-size: cover;
  background-image: url(./src/images/space.png);
  background-repeat: no-repeat;
}

.ship-images {
  height: 32px;
  width: 32px;
  margin-left: 0px;
  z-index: 1;
  margin-top: 0px;
  position: none;
}

.row {
  border-image: linear-gradient(30deg, #787878, #d4af37, #e9967a, #ffb6c1) 27;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-bottom: 40px;
  z-index: -1;
}

#row-1 {
  margin-top: 40px;
}

#row-5 {
  border-bottom: none;
}

.ship-button {
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: none;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 60px
}

.ship-button:hover, .button:hover {
  cursor: pointer
}

.ship-button .ship-images, #player-ship .ship-images {
  height: 60px;
  width: 60px
}

#grid {
  width: 20000px;
  max-height: 750px;
  margin-left: 0px;
}

.cat-images {
  height: 32px;
  width: 32px;
  margin-top: 0px;
  margin-left: 0px;
  position: absolute    
}

#moon {
  margin-left: 20015px;
  position: absolute;
  max-height: 120px;
  max-width: 120px;
  margin-top: -160px;
}

#to-the-moon-button {
  margin-top: -5px;
  width: 100px;
  height: 40px;
  font-size: 10px
}

.endgame-divs {
  border: solid black 2.2px;
  width: 120px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 3;
  margin-top: 140px;
  background-color: #536872;
  border: solid #426761 6px;
  animation-name: fadein;
  animation-duration: 5s
}

.endgame-headers {
  font-size: .75em;
  order: 1;
  margin-top: -4px
}

.endgame-phrases {
  margin-top: -3px;
  font-size: .4em;
  order: 2
}

#play-again-button {
  order: 3;
  font-size: .4em;
  background-color: #304050;
  border: solid #405060 3.5px;
  width: 80px;
}

header {
  display: flex;
  justify-content: space-between
}

.direction-buttons {
  width: 50px;
  height: 30px;
  background-color: #708090;
  border: solid #607080 5px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
}

.direction-buttons:hover {
  cursor: pointer
}

.explosion-images {
  width: 120px;
  height: 120px;
  z-index: 2;
  position: absolute;
  animation-name: fadein;
  animation-duration: 1s
}

#title-screen {
  display: flex;
  flex-direction: column;
  align-items: center
}

.button {
  width: 100px;
  height: 75px;
  font-family: 'Indie Flower', cursive;
  color: #f9f1f1;
  font-size: 1.5em;
  background-color: #708090;
  border-radius: 50%;
  border: solid #607080 5px;
}

#title {
  font-size: 2em;
  margin-top: 30px
}

#sub-title {
  font-size: 1em;
  margin-top: 70px
}

#start-button {
  font-size: 12px;
  width: 70px;
  height: 42px
}

#ship-select-title {
  font-size: 1.5em;
  text-align: center;
  animation-name: fadein;
  animation-duration: 2s;
  animation-timing-function: ease-in-out
}

#ship-options {
  animation-name: fadein;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#ship-name-header {
  font-size: 1.3em;
  animation-name: fadein;
  animation-duration: 2s;
  animation-timing-function: ease-in-out
}

#ship-name-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fadein;
  animation-duration: 3s;
  animation-timing-function: ease-in-out
}

#player-ship {
  margin-top: 20px;
  animation-name: fadein;
  animation-duration: 4s;
  animation-timing-function: ease-in-out
}

#ship-name-textbox {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  font-size: .8em;
  font-family: 'Indie Flower', cursive;
  background-color: transparent;
  color: #f9f1f1
}

#game-title, #ship-title {
  text-align: center
}

#game-title {
  font-size: 1em
}

#ship-title {
  font-size: .8em;
  margin-top: -10px
}

#right-side {
  display: flex;
  flex-direction: column;
}

#instruction-div {
  display: flex;
  flex-direction: row;
  width: 140px;
  margin-top: 10px;
  margin-left: 300px;
  background-color: #6e7f80;
  border-radius: 25%;
  padding: 5px
}

#instruction-arrow {
  margin-top: 20px;
  margin-left: 30px;
  font-size: .6em
}

#instructions {
  font-size: 10px;
  text-align: right;
}

#enter-grid-button {
  width: 70px;
  height: 35px;
  font-size: 8px;
  animation-name: fadein;
  animation-duration: 5s;
  animation-timing-function: ease-in-out
}

.opener-images {
  width: 40px;
  height: 40px
}

.opener-images-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 0px
}

#ship-1-opener {
  margin-left: 50px;
  margin-top: 100px;
  animation-name: shipsMovin1;
  animation-duration: 22s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

#ship-2-opener {
  margin-right: 280px;
  margin-top: 20px;
  animation-name: shipsMovin2;
  animation-duration: 19s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

#ship-3-opener {
  margin-top: 350px;
}

#moon-opener {
  margin-top: 120px;
  margin-right: 100px;
  animation-name: moonMovin;
  animation-duration: 21s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

#rotate-message {
  position: absolute;
  z-index: -2;
  margin-top: 150px;
}

@media (orientation: landscape) {
  #rotate-message {
    opacity: 0;
  }
}